<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item d-flex align-items-center me-2">
            <span class="text-dark">@User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Sign in</a>
        </li>
    }
</ul>
